#title {
	font-size: 28px;
}

.login {
	color: #75bfb9;
}
.sign_up-heading {
	font-weight: 600;
}
.font-weight-bold {
	font-weight: 600;
}
.sign_in_btn {
	color: #fcfcff;
	background-color: #4d44b5;
}
.login-error {
	color: red;
}

.already-registered {
	display: flex;
	justify-content: flex-start;
}
.sign {
	color: #4d44b5;
	text-decoration: none;

}

.text-center {
	font-size: 11px;
}

.sign_in_btn:hover {
	color: #fcfcff; 
	background-color: #6c63d3;
}