.navbar {
    background-color: white;
}

.btn {
    background-color: #4D44B5;
    color: white;
    margin-left: 30px;
}

.btn:hover {
    background-color: #ED5D34;
}

.nav-link:hover {
    color: #ED5D34;
}

.px-2 {
    padding-left: spacer * .5;
    padding-right: spacer * .5 !important;
}