
.background {
    border-color: red;
}
.login {
    color: #75BFB9;
}
.sign_up-heading {
    font-weight: 600;
}
.font-weight-bold {
    font-weight: 600;
}
.sign_in_btn {
    color: #FCFCFF !important;
    background-color: #4D44B5 !important;
}