.title-text {
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    width: 180px;
    margin: 0px;
}

.sign-in {
    width: 90px;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 60px 0px 0px 0px;
}

input {
    line-height: 40px;
}

/* @media screen and (min-width: ) {

}

@media screen and (min-width: ) {

} */