.dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.755em;
	vertical-align: 0.155em;
	content: "";
	border-top: 0.5em solid;
	border-right: 0.5em solid transparent;
	border-bottom: 0;
	border-left: 0.5em solid transparent;
}

.triangle-down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	margin-left: 5px;
}

.form-control.dropdown-toggle {
	border: 2px solid #4d44b5;
	border-radius: 30px;
	width: 130px;
	height: 37px;
}

.form-control.dropdown-toggle:focus {
	outline: none;
}

/* BELL GEAR USER ROLE BLUE-DOT */
.end-of-page {
	display: flex;
	gap: 2rem;
}

.user-info {
	width: 64px;
}

.user-role {
	color: #a098ae;
}

.icon-user {
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-items: center;
	width: 23px;
	height: 47px;
} 
.the-icon-user-background {
	background-color: #4743e0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 1rem;
	cursor: pointer;
} 

.dropdown-menu-buttons {
	margin-top: 0.5rem;
	margin-left: -14px;
	justify-items: center;
	width: 5rem;
	border: 4px;
	border-radius: 8px;
	color: #303972;
	background-color: #d9d9d9;
}

.drop-down {
	display: none !important;
	z-index: 999;
	
}

.drop-down-link {
	color: #4743e0;
	font-size: medium;
}

@media (max-width: 991px) {
	.drop-down {
		display: block !important;
	}

	.end-of-page {
		width: 85% !important;
	}

	.the-icon-user-background {
		display: none;
	}
	
}

@media (max-width: 575px) {
	.end-of-page {
		width: 77% !important;
		font-size: small;
	}
	.topbar {
		width: 103% !important;
		
	}
}
