/* .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.755em;
	vertical-align: 0.155em;
	content: "";
	border-top: 0.5em solid;
	border-right: 0.5em solid transparent;
	border-bottom: 0;
	border-left: 0.5em solid transparent;
} */

.triangle-down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	margin-left: 5px;
}

.form-control.dropdown-toggle {
	border: 2px solid #4d44b5;
	border-radius: 30px;
	width: 130px;
	height: 37px;
}

.form-control.dropdown-toggle:focus {
	outline: none;
}

#bookings-link {
	border: 2px solid #009b1b;
	color: white;
	background-color: #009b1b;
}

/* CALENDAR MAP BOOK */
/* .navbar-expand-lg {
	flex-direction: row;
	gap: 22px;
	margin-top: 15px;
} */

/* BELL GEAR USER ROLE BLUE-DOT */

.bell {
	width: 28px;
	margin-top: 4px;
}

.user-info {
	width: 64px;
}

.user-role {
	color: #a098ae;
}

.blue-dot {
	width: 51px;
	margin-right: 2rem;
}
.icon-user {
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-items: center;
	width: 23px;
	height: 47px;
}
.the-icon-user-background {
	background-color: #4743e0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 1rem;
	cursor: pointer;
}

.dropdown-menu {
	display: block;
	position: absolute;
	border: 1px solid red; /* Add a border for testing */
	/* Add other necessary styles */
}

/* ALL THE BAR */
.bg-light {
	height: 8rem;
}
/* .dropdown-menu {
	display: grid;
	position: absolute;
	border: none;
} */

/* #navbar {
	display: flex;
} */

/* the serach button */

/* .form-inline {
	display: flex;
} */

.input-control-form {
	display: flex;
	border-radius: 20px;
	border-color: #a098ae;
	justify-content: flex-start;
}
.searchIcon {
	margin-top: 3px;
	margin-right: -1.8rem;
	z-index: 1;
}

.has-search .form-control {
	padding-left: 30px;
}

.has-search .form-control-feedback {
	position: absolute;
	/* z-index: 2; */
	/* display: block; */

	/* height: 2.375rem; */
	/* line-height: 2.375rem; */
	/* text-align: center; */
	pointer-events: none;
	color: #aaa;
}
.form-control {
	width: 79%;
}
.bell_user__role {
	display: flex;
	gap: 2.5rem;
}
.dropdown-menu-buttons {
	margin-top: 0.1rem;
	justify-items: center;
	width: 5rem;
	border: 4px;
	border-radius: 8px;
	color: #303972;
	background-color: #d9d9d9;
}

/* SCREEN MORE THAN 991 */

@media (min-width: 991px) {
	.fa-sign-out {
		color: red;
		background-color: #009b1b;
	}
	.hamburger-content {
		display: none;
	}
	.dropdown-menu-buttons {
		margin-top: 0.5rem;
		margin-left: -14px;
		justify-items: center;
		width: 5rem;
		border: 4px;
		border-radius: 8px;
		color: #303972;
		background-color: #d9d9d9;
	}

	.thelogo-and-the-text {
		display: none;
		/* justify-content: start;
		padding-top: 15px;
		padding-left: 10px; */
	}

	#navbar {
		display: flex;
		padding: 1.5rem;

		/* padding: 2.25rem; */
	}

	.second-section {
		display: none;
	}
	.dropdown-menu-buttons {
		margin-bottom: 5rem;
	}
	.end-of-page {
		display: flex;
		gap: 1.5rem;
		justify-content: right;
	}
	.user-info-big-screen {
		display: none;
	}
}

/* SCREEN LESS THAN 991PX */

@media (max-width: 991px) {
	/* .text-logo {
		display: flex;
		justify-content: right;
	} */
	.links {
		display: grid;
		justify-content: center;
		justify-items: center;
		background-color: white;
		list-style-type: none;
		text-decoration: none;
		gap: 7px;
		font-weight: 500;
		font-size: 1.2rem;
		color: #4d44b5;
		padding: 14px;
	}
	.searchIcon {
		width: 15.5px;
	}
	.hamburger-content {
		height: 30%;
		width: 80%;
		justify-content: center;
		display: grid;
		position: absolute;
		z-index: 1000;
		margin-top: 63px;
		left: 47%;
		transform: translate(-50%, -30%);
		background-color: white;
	}
	.thelogo-and-the-text {
		display: flex;
		justify-content: center;
		/* padding-right: 20px; */
		padding-top: 10px;
		/* width: 18rem; */
	}
	.text-logo {
		width: 41px;
	}
	.the-logo {
		width: 12rem;
	}

	.container-fluid {
		margin-top: 5px;
		padding-right: 0;
	}

	.user-info-and-hamburger {
		display: flex;
		gap: 1rem;
	}
	.dropdown-button {
		display: flex;
		justify-content: center;
		border: none;
		text-decoration: none;
	}
	.dropdown-menu-buttons {
		min-width: 15rem;
		background-color: white;
	}

	.second-section {
		display: flex;
		justify-content: center;
	}
	.bell {
		display: none;
	}
	.user-info {
		display: none;
	}
	.user-info {
		margin-left: 14px;
	}
	.the-icon-user-background {
		display: none;
	}
	.end-of-page {
		display: grid;
		gap: 0.7rem;
		margin-top: 0.8rem;
		margin-right: -20px;
	}

	.bi-house::before {
		color: rgb(77, 68, 181);
	}
	.bi-person::before {
		color: rgb(77, 68, 181);
	}
	.bi-calendar-date::before {
		color: #4d44b5;
	}

	.bell_user__role {
		display: grid;
		justify-items: center;
		margin-top: 1rem;
		margin-bottom: -2.5rem;
		gap: 1rem;
	}

	.user-role {
		margin-left: 5px;
	}
	/* .dropdown-button {
		margin-left: 17px;
	} */
	.home-user-calendar {
		margin-left: 3px;
	}
	#navbarSupportedContent {
		justify-content: flex-end;
	}

	.first_section {
		display: flex;
		padding-left: 16px;
	}
	/* .navbar-toggler-topbar {
		justify-self: flex-start;
	} */

	/* .input-control-form {
		justify-content: flex-end;
	} */
}

/* LESS THAN */
@media (max-width: 576px) {
	.text-logo {
		width: 30px;
	}
	.the-logo {
		width: 9rem;
	}
	.home-user-calendar {
		margin-left: 10px;
	}
	.first_section {
		padding-left: 0px;
	}
	.navbar {
		padding: 7px;
		gap: 0px;
		margin-bottom: 10px;
	}
	.input-control-form {
		width: 9rem;
		height: 42px;
	}
	/* .navbar-toggler-topbar {
		justify-self: flex-start;
		width: 3.3rem;
	} */
	/* .user-info {
		margin-left: 14px;
		display: none;
	} */
	.end-of-page {
		margin-left: -1rem;
	}
	/* .navbar-nav-navbar {
		position: ;
		z-index: 1000;
	} */
	.input-control-form {
		justify-content: flex-end;
	}
	.bell {
		display: none;
	}
}
