@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.side-col {
	background-color: #4d44b5;
	width: 5%;
}

.nav-item-sd {
	width: 75%;
    height: 37px;
	cursor: pointer;
}
.nav-item-sd:hover {
	background-color: white;
}

.nav-item-sd:hover .bi-home {
	fill: #4d44b5;
}

.nav-item-sd:hover .bi-map {
	stroke: #4d44b5;
}

.nav-item-sd:hover .label {
    display: block;
	position: absolute;
    left: 4.6%;
    color: #4d44b5;
	z-index: 999;
}

.nav-item-sd:hover .bi-calendar-date,
.nav-item-sd:hover .bi-gear {
	color: #4d44b5;
}

.bi-gear,
.bi-calendar-date {
	color: white;
	font-size: 21px;
}
.label {
    display: none;
}

.item-label {
	font-size: 16px;
	line-height: 20px;
}

@media only screen and (max-width: 576px) {
	h4 {
		font-size: 18px;
	}

	.nav-item .item-label {
		display: none;
	}

	.bi-person,
	.bi-calendar-date,
	.bi-house {
		padding-bottom: 0px;
	}
}
