@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.side-col {
	height: 100vh;
	background-color: #4d44b5 !important;
}

.nav-item {
	height: 50px;
	background-color: #4d44b5 !important;
	color: white;
    width: 85% !important;
    cursor: pointer;

}

.nav-item:hover {
	background-color: white !important;
	color: #4d44b5 !important;
}

.bi-person, .bi-calendar-date, .bi-house {
    font-size: 30px !important;
    padding-bottom: 5px;
}

.item-label {
    font-size: 16px;
    line-height: 20px;
}


@media only screen and (max-width: 576px) {

    h4 {
        font-size: 18px !important;
    }

    .nav-item .item-label {
        display: none;
    }

    .bi-person, .bi-calendar-date, .bi-house {
    padding-bottom: 0px;
}
}
