.btn-signup {
	background: #4d44b5;
	color: white;
}

.btn-signup:hover {
	background-color: rgba(193, 187, 235, 1);
}

.nav-link {
	color: #4d44b5;
	font-weight: 500;
	font-size: 1.2rem;
}
.nav-link:hover {
	color: #ed5d34;
}

.logo {
	cursor: pointer;
}
