.navbar-custom {
	background: rgb(248, 247, 248);
	margin-bottom: 2rem;
}

.btn-signup {
	background: #4d44b5;
	color: white;
}

.btn-signup:hover {
	background-color: rgba(193, 187, 235, 1);
	color: cornflowerblue;
}

.logo {
	cursor: pointer;
}
.nav-item-left {
    color: #4D44B5;
    font-weight: 500;
    font-size: 1.2rem;
    height: 60px;
    text-decoration: none;
}
.nav-item-left:hover {
    color: #ED5D34;
}
.btn-pinks {
    padding-left: 90px;
}

