.background {
    background-color: rgba(77, 68, 181, 1);
    color: white;
}

.button {
    background-color: rgba(217, 217, 217, 1)  ;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.button:hover {
    background-color: rgba(193, 187, 235, 1);
}
#container-py-5 {
    padding-top: 8rem;
}

@media (max-width: 768px) {
    .book-desk {
        width: 15rem;
        margin-bottom: 2rem;
    }
}


